
{%extends 'base.html'%}

{%block head%}
<title>Login</title>
{%endblock%}


{%block body%}

<div class="container">


<p>You can log in here!</p>

<h2>Login</h2>
<form method="post">
  {%csrf_token%}
  {{form.as_p}}
<button type="submit" name="button">Login</button>
</form>

</div>
{%endblock%}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  </head>
  <body>
      {% load static %}
      <link rel="stylesheet" href="{% static 'accounts/style.css' %}"type="text/css">
      <div class="container">
          <h1>Welcome</h1>
          <h1>{{name}}</h1>
          <ul>
            {% for number in numbers %}
            <li>{{number}}</li>
            {% endfor %}
          </ul>
          Welcome! You can Log in here!
          <button type="button" class="btn btn-dark">Dark</button>
          <button class="btn btn-danger" type = "button" name="button">Login</button>
      </div>

  </body>
</html> -->
