{% extends 'base.html' %}


{%block head%}

<title>Profile</title>
{%endblock%}
{%block body%}

<div class="container">

<h1>Profile page</h1>

  <p>Username: {{ user }}</p>
  <p>First_name: {{ user.first_name }}</p>
  <p>Last_name: {{ user.last_name }}</p>
  <p>Email: {{ user.email }}</p>

<button type="submit" href= '/accounts/profile/edit'>Edit</button>
<button type="submit" class="navbar-brand" href= '/' name="button">Edit</button>
<a class="navbar-brand" href= '/'>Shuttle Squad </a>
<a href="/accounts/profile/edit" class="btn btn-info" role="button">Edit</a>
<button type="button" class="btn btn-link" <a href="/accounts/profile/edit" >Edit Profile</button>


      <a href="/accounts/profile/edit" class="btn btn-primary active">
          <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Edit Profile
      </a>



</div>

{%endblock%}
